#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #f8f6f6;
}

/* NavBar */
.navBar{
  display: inline-flex;
  justify-content:center;
  flex-direction: column;
  background-color: rgb(20, 6, 6);
  border-radius: 5px;
  padding: 10px 90px 10px 90px;
  top: 0.10rem;
  text-align: center;
  transition: 0.5s;
  margin: 1% 0 50% 0;
  position: sticky;
  flex-direction: column;
  gap: 0;
  /* background-image: url('https://www.transparenttextures.com/patterns/brushed-alum.png');
  background-size: 100%;
  background-repeat: no-repeat; */
}
.navBar ul li{
  display: inline;
  margin: 0 80px 0 80px;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navBar{
    width: 75%;
    text-align: center;
    padding: 6px 10px 6px 10px;
    margin: 0.1% 0 2% 0;
    position: sticky;
  }

  .navBar ul li{
    display: inline;
    width: 75%;
    text-align: center;
    font-size: 20px;
    margin: 0 8px 0 8px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
}