#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*{
  box-sizing: border-box;
}

.card {
  margin-top:190px;
  padding:8px 11px 10px;
  background-color: #272424;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.offer{
  justify-items: center;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}
.read-the-docs {
  color: #f8f6f6;
}
.card-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 8px 2px 8px 2px;
  border-radius: 5px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-wrap: wrap;
  overflow: hidden;
}
.cards1{
  text-align: center;
  font-size: 14px;
  margin: 1em;
  width: 60%;
  height: 300px;
  background-color: #3a3636;
}

.cards{
  text-align: center;
  font-size: 14px;
  margin: 1em;
  width: 30%;
  border: #61dafbaa solid 1px;
  border-radius: 5px;
  height: 300px;
  background-color: #3a3636;
}

.cards:hover, .cards1:hover
{
    box-shadow: 0px 0px 20px gray;
    transition: 0.3s;
    animation: glow 1s ease-in-out infinite alternate;
    border: 1px solid greenyellow;
    border-radius: 40em 30em 40em 30em;
}

/* NavBar */
.navBar{
  display: inline-flex;
  justify-content:center;
  flex-direction: column;
  background-color: rgb(20, 6, 6);
  border-radius: 5px;
  padding: 10px 90px 10px 90px;
  top: 0.10rem;
  text-align: center;
  transition: 0.5s;
  margin: 1% 0 50% 0;
  overflow: hidden;
  position: fixed;
  flex-direction: column;
  gap: 0;
  /* background-image: url('https://www.transparenttextures.com/patterns/brushed-alum.png');
  background-size: 100%;
  background-repeat: no-repeat; */
}
.navBar ul li{
  display: inline-flex;
  text-decoration: none;
  margin: 0.8em 1em   0.8em 1em;
  padding: 0 1em 0 1em;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}
.navBar h1{
  border-radius: 450px;
  float: left;
  padding: 20px 40px;
}





@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navBar{
    display: grid;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 1px 6px;
    margin: 0.1% 0 2% 0;
    position: sticky;
  }

  .navBar ul li{
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 8px;
    padding: 1px 8px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  *{
    display: grid;
    align-content: center;
    flex-wrap: wrap;
    width: 30em;
    font-size: 13px;
  }
}